/* CSS Reset */

*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 50px;
}

/* Navigation Bar */
#navbar{
    /* to bring navbar objects in one row */
    display: flex;
    align-items: center;
}

/* Navigation Bar: logo and Image */
#logo{
    margin: 0px 0px;
}

#logo img{
    
    /* Setting height (size) of image */
    height: 110px;
    margin: 0px 0px; 
}

/* Navigation Bar: List Styling */
#navbar{
    position: relative;
}

/* Adding Strip under navbar */
#navbar::before{
    content: "";
    background-color: black;
    
    position: absolute;
    height: 100%;
    width: 100%; 

    /* z-index set to -1 inorder to stack this strip below navbar */
    z-index: -1;
    opacity: 0.4;
}

#navbar ul{
    display: flex;
}

#navbar ul li{

    /* To remove bullets in list */
    list-style: none;
    font-size: 1.2rem;    
}

/* NOTE: padding is added in anchor tag inorder to add special effects to anchor tags */
#navbar ul li a{

    color: white ;
    display: block;
    padding: 10px;
    border-radius: 10px;

    /* To remove underline inside the text of anchor tag */
    text-decoration: none;
}

/* Effects After Hovering */
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('/images/pizza.jpg') no-repeat center center/cover;
    
    position: absolute;
    height: 100%;
    width: 100%; 

    /* z-index s et to -1 inorder to stack this strip below navbar */
    z-index: -1;
    opacity: 0.9;  
}

#home h1{
    color: white;
    text-align: center;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* Utitlity Classes */
.h-primary{
    font-size: 2.5rem;
    padding: 12px;
}



